@model DentalClinicManagementSystem.Models.Patient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
