@model IEnumerable<DentalClinicManagementSystem.Models.Dentist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Dentist Name", new { style = "font-weight:bold;" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DentistName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DentistId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DentistId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DentistId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    }
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
